@page "/Register"
@layout BlankLayout

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bootstrap Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <div class="card">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>

                    <div class="card-body">

                        <EditForm Model="@UserRegistrationRequest" OnValidSubmit="SubmitUserRegistration"  @ref="@editForm" FormName="recipe-editor">
@*                         <EditForm Model="@UserRegistrationRequest"
                                  OnValidSubmit=@ValidRegistrationFormSubmit
                                  OnInvalidSubmit=@InvalidRegistrationFormSubmit
                                  FormName="SubmitUserRegistration"> *@
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="form-group">
                                <label for="username">Name</label>
                                <InputText placeholder="User Full Name" @bind-Value="UserRegistrationRequest.Name" class="form-control"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.Name)" />
                            </div>

                            <div class="form-group">
                                <label for="username">Organization Name*</label>
                                <InputText placeholder="Organization Name" @bind-Value="UserRegistrationRequest.OrganizationName" class="form-control"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.OrganizationName)" />
                            </div>
                            <div class=" form-group">
                                <label for="username">Email*</label>
                                <InputText class="form-control" @bind-Value="UserRegistrationRequest.Email" placeholder="Enter username (Email Id)"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.Email)" />
                            </div>

                            <div class=" form-group">
                                <label for="username">Phone Number*</label>
                                <InputText class="form-control" @bind-Value="UserRegistrationRequest.PhoneNumber" placeholder="Enter username (Email Id)"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.PhoneNumber)" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password*</label>
                                <InputText type="password" class="form-control" @bind-Value="UserRegistrationRequest.Password" placeholder="Enter password"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.Password)" />
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password*</label>
                                <InputText type="password" class="form-control" @bind-Value="UserRegistrationRequest.ConfirmPassword" placeholder="Enter Confirm password"></InputText>
                                <ValidationMessage For="@(()=>UserRegistrationRequest.ConfirmPassword)" />
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Submit</button>


                        </EditForm>
                    </div>

                    <div class="card-footer">
                        <span class="float-sm-right"> Already have have an account? <a href="/" class="btn btn-primary"> Login Now</a></span>
                    </div>

                </div>



                @*                else if (_response != null && _response.IsCreated)
                {
                <div class="alert-success"> <p>Your account created successfully, Go to login page.</p></div>
                }*@
            </div>
        </div>
    </div>
</body>
</html>

@code {

}

